In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.4.2'

In [3]:
!pip install pyarrow

Requirement already satisfied: pyarrow in /home/codespace/anaconda3/lib/python3.9/site-packages (16.1.0)
Requirement already satisfied: numpy>=1.16.6 in /home/codespace/anaconda3/lib/python3.9/site-packages (from pyarrow) (1.21.5)

In [4]:
df = pd.read_parquet("https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-01.parquet")

In [5]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00

In [6]:
len(df.columns)

19

Read the data for January. How many columns are there?

- A) 16
- B) 17
- C) 18
- D) 19

**Answer: D**

### Question 2

##### Check datatypes

In [7]:
df.dtypes

VendorID                          int64
tpep_pickup_datetime     datetime64[ns]
tpep_dropoff_datetime    datetime64[ns]
passenger_count                 float64
trip_distance                   float64
RatecodeID                      float64
store_and_fwd_flag               object
PULocationID                      int64
DOLocationID                      int64
payment_type                      int64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
improvement_surcharge           float64
total_amount                    float64
congestion_surcharge            float64
airport_fee                     float64
dtype: object

In [8]:
df["trip_durations_in_minutes"] = [pd.Timedelta(x - y).seconds / 60 for x, y in zip(df["tpep_dropoff_datetime"], df["tpep_pickup_datetime"])]
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,trip_durations_in_minutes
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00,8.433333
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00,6.316667
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00,12.750000
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25,9.616667
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00,10.833333

In [9]:
df["trip_durations_in_minutes"].std()

41.62919110962406

What's the standard deviation of the trips duration in January?

- A) 32.59
- B) 42.59
- C) 52.59
- D) 62.59

**Answer: B**

In [10]:
original_rows = df.shape[0]
original_rows

3066766

##### Question 3

In [11]:
outliers = df[(df["trip_durations_in_minutes"] <= 1) | (df["trip_durations_in_minutes"] >= 60)]

In [12]:
removed_rows = outliers.shape[0]
removed_rows

57914

In [13]:
 df = df[(df["trip_durations_in_minutes"] >= 1) & (df["trip_durations_in_minutes"] <= 60)]

In [14]:
df.shape

(3009176, 20)

In [15]:
remaining_percentage_after_outlier_removal = 1 - (removed_rows/original_rows)
remaining_percentage_after_outlier_removal

0.9811156116899692

What fraction of the records left after you dropped the outliers?

- A) 90%
- B) 92%
- C) 95%
- D) 98%

**Answer: D**

###### Question 4

In [16]:
df = df.sample(frac=0.2, random_state=42)
df.shape

(601835, 20)

In [17]:
df.isna().sum()

VendorID                         0
tpep_pickup_datetime             0
tpep_dropoff_datetime            0
passenger_count              14194
trip_distance                    0
RatecodeID                   14194
store_and_fwd_flag           14194
PULocationID                     0
DOLocationID                     0
payment_type                     0
fare_amount                      0
extra                            0
mta_tax                          0
tip_amount                       0
tolls_amount                     0
improvement_surcharge            0
total_amount                     0
congestion_surcharge         14194
airport_fee                  14194
trip_durations_in_minutes        0
dtype: int64

In [18]:
# Drop only important columns to avoid dropping alot of columns
df = df[["PULocationID", "DOLocationID", "trip_durations_in_minutes", "trip_distance"]]
df.head()

         PULocationID  DOLocationID  trip_durations_in_minutes  trip_distance
1337720           239           161                  13.150000           2.84
187264             87             4                   8.466667           2.60
2842284           142           140                  11.766667           2.06
1789228           163           186                   6.483333           1.16
335578             79             4                   6.900000           1.22

In [19]:
df.isna().sum()

PULocationID                 0
DOLocationID                 0
trip_durations_in_minutes    0
trip_distance                0
dtype: int64

In [20]:
df = pd.get_dummies(df, columns=["PULocationID", "DOLocationID"], drop_first=True)

In [21]:
df.columns

Index(['trip_durations_in_minutes', 'trip_distance', 'PULocationID_3',
       'PULocationID_4', 'PULocationID_5', 'PULocationID_6', 'PULocationID_7',
       'PULocationID_8', 'PULocationID_9', 'PULocationID_10',
       ...
       'DOLocationID_256', 'DOLocationID_257', 'DOLocationID_258',
       'DOLocationID_259', 'DOLocationID_260', 'DOLocationID_261',
       'DOLocationID_262', 'DOLocationID_263', 'DOLocationID_264',
       'DOLocationID_265'],
      dtype='object', length=500)

In [22]:
df.head()

,trip_durations_in_minutes,trip_distance,PULocationID_3,PULocationID_4,PULocationID_5,PULocationID_6,PULocationID_7,PULocationID_8,PULocationID_9,PULocationID_10,...,DOLocationID_256,DOLocationID_257,DOLocationID_258,DOLocationID_259,DOLocationID_260,DOLocationID_261,DOLocationID_262,DOLocationID_263,DOLocationID_264,DOLocationID_265
1337720,13.150000,2.84,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
187264,8.466667,2.60,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2842284,11.766667,2.06,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1789228,6.483333,1.16,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
335578,6.900000,1.22,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [23]:
df.isna().sum()

trip_durations_in_minutes    0
trip_distance                0
PULocationID_3               0
PULocationID_4               0
PULocationID_5               0
                            ..
DOLocationID_261             0
DOLocationID_262             0
DOLocationID_263             0
DOLocationID_264             0
DOLocationID_265             0
Length: 500, dtype: int64

In [24]:
# Convert the DataFrame to a list of dictionaries
num_of_cols = df.columns.to_list()
len(num_of_cols)

500

What's the dimensionality of this matrix (number of columns)?

- 2
- 155
- 345
- 515
- 715

**Answer: 515**

In [25]:
# list_of_dicts = df.to_dict(orient='records')

In [26]:
# Re-cast the IDs to strings
# for d in list_of_dicts:
#     d['PULocationID'] = str(d['PULocationID'])
#     d['DOLocationID'] = str(d['DOLocationID'])

In [27]:
# from sklearn.feature_extraction import DictVectorizer

In [28]:
# Fit a DictVectorizer
# vectorizer = DictVectorizer(sparse=False)
# feature_matrix = vectorizer.fit_transform(list_of_dicts)

In [29]:
# feature_names = vectorizer.get_feature_names_out()

# print(feature_names)
# print(feature_matrix)

##### Question 5

In [30]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [31]:
df.columns

Index(['trip_durations_in_minutes', 'trip_distance', 'PULocationID_3',
       'PULocationID_4', 'PULocationID_5', 'PULocationID_6', 'PULocationID_7',
       'PULocationID_8', 'PULocationID_9', 'PULocationID_10',
       ...
       'DOLocationID_256', 'DOLocationID_257', 'DOLocationID_258',
       'DOLocationID_259', 'DOLocationID_260', 'DOLocationID_261',
       'DOLocationID_262', 'DOLocationID_263', 'DOLocationID_264',
       'DOLocationID_265'],
      dtype='object', length=500)

In [32]:
X  = df.drop("trip_durations_in_minutes", axis=1)
y = df["trip_durations_in_minutes"]

In [33]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.8)

In [ ]:
model = LinearRegression()
model.fit(X_train, y_train)

In [ ]:
y_pred = model.predict(X_test)

In [ ]:
from sklearn.metrics import mean_squared_error

In [ ]:
rmse = mean_squared_error(y_train, y_pred, squared=False)
rmse

##### Question 6

In [ ]:
y_pred = model.predict(X_test)

In [ ]:
rmse = mean_squared_error(y_test, y_pred, squared=False)
rmse